<span class="ac_captcha_wrap">
  <span class="ac_captcha_txt">{spam_text}:</span>
  <span class="ac_captcha_image"><img src="index.php?p=comment-captcha" id="image" alt="" title="" /></span>
  <span class="ac_captcha_code"><a href="#" onclick="document.getElementById('image').src = 'index.php?p=comment-captcha&amp;sid=' + Math.random(); return false" title="{refresh}">Code</a>: <input type="text" class="ac_captcha_box" name="code" id="code" value="" /></span>
  <br class="break" />
</span>
