<h2 class="cu">{captcha_txt}:</h2>

<div class="cu_captcha_wrapper">
  <div class="capImg"><a href="#" onclick="document.getElementById('image').src = 'index.php?p=contact-us-captcha&amp;sid=' + Math.random(); return false"><img src="index.php?p=contact-us-captcha" alt="" title="" id="image" /></a></div>
  <div class="capCode">
    <label>{enter_word}:</label>
    <input type="text" class="box" name="code" value="" />
    {error}
  </div>
  <br class="break" />
  <br class="break" />
</div>

